@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1b355b;
  --accent-soft-coral-red: #ff6b6b;
  --accent-vibrant-mustard-yellow: #ffcc00;
  --accent-light-teal: #72c1d1;
  --neutral-light-gray: #f4f4f4;
  --neutral-dark-charcoal: #333333;
  --neutral-medium-gray: #b3b3b3;
  --complementary-color: #e3e8f0;
}

body {
  background-color: var(--primary-color);
}
